/*------------------------------------*\
  #FONTS
\*------------------------------------*/
/*------------------------------------*\
  #GENERIC
\*------------------------------------*/
/*
    Generic: Page
    ---
    Global page styles
*/

:root {
  --global-color-black: black;
  --global-color-white: white;

  --global-color-alpha-pink: #fc5185;
  --global-color-alpha-blue-dark: #364f6b;
  --global-color-alpha-blue-light: #43dde6;
  --global-color-alpha-white: #f0f0f0;
  --global-color-alpha-blue: #3385ff;
  --global-color-alpha-red: #ff3333;
  --global-color-alpha-yellow-dark: #ffc349;
  --global-color-alpha-yellow: #ffd172;
  --global-color-alpha-yellow: #ffe1a4;

  --global-color-grey-1: #fefefe;
  --global-color-grey-2: #fcfcfc;
  --global-color-grey-3: #fbfbfb;
  --global-color-grey-4: #f9f9f9;
  --global-color-grey-5: #f8f8f8;
  --global-color-grey-6: #f6f6f6;
  --global-color-grey-7: #f5f5f5;
  --global-color-grey-8: #f3f3f3;
  --global-color-grey-9: #f2f2f2;
  --global-color-grey-10: #f0f0f0;
  --global-color-grey-11: #d8d8d8;
  --global-color-grey-12: #c0c0c0;
  --global-color-grey-13: #a8a8a8;
  --global-color-grey-14: #909090;
  --global-color-grey-15: #787878;
  --global-color-grey-16: #606060;
  --global-color-grey-17: #484848;
  --global-color-grey-18: #303030;
  --global-color-grey-19: #181818;

  --global-color-pink-1: #ffeef3;
  --global-color-pink-2: #fedce7;
  --global-color-pink-3: #fecbda;
  --global-color-pink-4: #feb9ce;
  --global-color-pink-5: #fea8c2;
  --global-color-pink-6: #fd97b6;
  --global-color-pink-7: #fd85aa;
  --global-color-pink-8: #fd749d;
  --global-color-pink-9: #fc6291;
  --global-color-pink-10: #fc5185;
  --global-color-pink-11: #e34978;
  --global-color-pink-12: #ca416a;
  --global-color-pink-13: #b0395d;
  --global-color-pink-14: #973150;
  --global-color-pink-15: #7e2943;
  --global-color-pink-16: #652035;
  --global-color-pink-17: #4c1828;
  --global-color-pink-18: #32101b;
  --global-color-pink-19: #19080d;

  --global-color-blue-1: #ebedf0;
  --global-color-blue-2: #d7dce1;
  --global-color-blue-3: #c3cad3;
  --global-color-blue-4: #afb9c4;
  --global-color-blue-5: #9ba7b5;
  --global-color-blue-6: #8695a6;
  --global-color-blue-7: #728497;
  --global-color-blue-8: #5e7289;
  --global-color-blue-9: #4a617a;
  --global-color-blue-10: #364f6b;
  --global-color-blue-11: #314760;
  --global-color-blue-12: #2b3f56;
  --global-color-blue-13: #26374b;
  --global-color-blue-14: #202f40;
  --global-color-blue-15: #1b2836;
  --global-color-blue-16: #16202b;
  --global-color-blue-17: #101820;
  --global-color-blue-18: #0b1015;
  --global-color-blue-19: #05080b;

  --global-color-cyan-1: #ecfcfd;
  --global-color-cyan-2: #d9f8fa;
  --global-color-cyan-3: #c7f5f8;
  --global-color-cyan-4: #b4f1f5;
  --global-color-cyan-5: #a1eef3;
  --global-color-cyan-6: #8eebf0;
  --global-color-cyan-7: #7be7ee;
  --global-color-cyan-8: #69e4eb;
  --global-color-cyan-9: #56e0e9;
  --global-color-cyan-10: #43dde6;
  --global-color-cyan-11: #3cc7cf;
  --global-color-cyan-12: #36b1b8;
  --global-color-cyan-13: #2f9ba1;
  --global-color-cyan-14: #28858a;
  --global-color-cyan-15: #226f73;
  --global-color-cyan-16: #1b585c;
  --global-color-cyan-17: #144245;
  --global-color-cyan-18: #0d2c2e;
  --global-color-cyan-19: #071617;

  --global-color-alpha-light: #4f95ff;
  --global-color-alpha: #3385ff;
  --global-color-alpha-dark: #2e77e6;
  --global-color-alpha-x-dark: #1b4186;
  --global-color-alpha-transparent: #3385ffbf;
  --global-color-alpha-x-transparent: #3385ff4d;

  --global-color-neutral-xxxx-light: #f5f6fa;
  --global-color-neutral-xxx-light: #e2e3e7;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-neutral-light: #a0a1ad;
  --global-color-neutral: #8b8c9a;
  --global-color-neutral-dark: #757787;
  --global-color-neutral-x-dark: #606274;
  --global-color-neutral-xx-dark: #4b4c60;
  --global-color-neutral-xxx-dark: #35374d;
  --global-color-neutral-xxxx-dark: #20223a;

  /* border stuff */
  --global-borderRadius: 3px;
  --global-borderWidth: 1px;

  /* transitions */
  --global-transitionTiming-alpha: 0.1s ease-out;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  --global-o-row: calc(50vh - 168px);
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Signika', 'Ubuntu', Helvetica, arial, sans-serif;
  color: #111;
  box-sizing: border-box;
}

body {
  background-image: url('../img/jpg/kids.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
::selection {
  background: #364f6b;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Custom scrollbar
\*------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--global-color-grey-14);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--global-color-grey-15);
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/
/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/
img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/
h1 {
  font-size: 104px;
  font-weight: 700;
  height: 152px;
  margin: 0;
  color: #364f6b;
}

h2 {
  font-size: 23px;
  line-height: 32px;
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: 'Times New Roman', serif;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: Grey;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

a:visited,
a:active {
  color: BlueViolet;
}

a:hover,
a:focus {
  color: Crimson;
}

::placeholder {
  font-family: 'Ubuntu';
  font-size: 24px;
  font-weight: 500;
  color: #c0c0c0;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  padding-top: var(--global-o-row);
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-row__header {
  padding: 8px 24px;
  background-color: var(--global-color-white);
  max-height: 72px;
}

.o-row__card {
  padding: 80px 160px 104px 160px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.o-row--overlay {
  padding: var(--global-card-padding) 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-container--card {
  margin: 0 auto;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
}

.o-container__popup {
  margin-left: auto;
  margin-right: auto;
}

.o-container__header {
  max-width: 100vw;
}

.o-container__card {
  max-width: 1600px;
}

/*
    .o-button-reset
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    component: loader
*/

.c-loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  justify-content: center;
  align-items: center;
}

.c-loader {
  animation: rotateLoader 2.25s linear infinite;
}

.c-loader__circle {
  stroke: OrangeRed;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke-dasharray: 20, 251;
  stroke-dashoffset: 0;
  animation: strokeCircle 2s infinite, strokeColor 10s 1s infinite;
}

@keyframes rotateLoader {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes strokeCircle {
  50% {
    stroke-dasharray: 231, 20;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 20, 231;
    stroke-dashoffset: -251;
  }
}

@keyframes strokeColor {
  20% {
    stroke: gold;
  }
  40% {
    stroke: LimeGreen;
  }
  60% {
    stroke: DodgerBlue;
  }
  80% {
    stroke: HotPink;
  }
}

/*
    Component: Header
    ---
    Website header
*/

.c-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-header__title {
  margin: auto;
}

.c-card__header__icons {
  margin-left: auto;
  margin-right: 22px;
  display: flex;
  align-items: center;
  height: 60px;
}

.c-header__icon,
.c-card__header__icon {
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.c-card__header__icon {
  margin-right: 8px;
}

.c-header__icon:hover,
.c-header__icon:focus,
.c-header__icon:active {
  background-color: var(--global-color-grey-8);
}

.c-card__header__icon:hover,
.c-card__header__icon:focus,
.c-card__header__icon:active {
  padding: 4px;
}

#delete {
  border-radius: 0;
}

/*
    Component: Card
    ---
    Main content for the page goes inside of the card
*/

.c-card {
  background-color: white;
  padding: 0 25px 48px;
  overflow: scroll;
  max-height: 70vh;
  /* padding-top: 28px; */
}

.c-card--popup {
  position: relative;
  background-color: white;
  border: 1px solid #c0c0c0;
  border-radius: var(--global-border-radius);
  box-shadow: 5 5 10;
  overflow: hidden;
}

.c-card__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--global-color-white);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 16px;
}

.c-card__body {
  margin-top: 40px;
}

.c-card__body--popup {
  padding: 24px 32px 48px;
}

.c-card__title__text {
  margin-bottom: 0;
  margin-left: 8px;
}

.c-card__body__item__content__hidden {
  display: none;
}

/*
    Component: form
    ---
    everything form related
*/

.c-form {
  margin-bottom: 24px;
}

.c-form__header {
  display: flex;
  border: 1px solid #707070;
  border-radius: 3px;
  padding: 16px 20px;
  max-height: 64px;
  margin-bottom: 24px;
  transition: background 200ms ease-in-out;
  cursor: pointer;
  align-items: center;
}

.c-form__header:hover {
  background-color: var(--global-color-grey-8);
}

.c-form__header__title {
  margin: 0;
  width: 100%;
}

.c-form__header__icons {
  margin-left: auto;
  display: flex;
}

.c-form__header__edit{
	margin-right: 8px;
}

.c-form__content__hidden {
  display: none;
}

.c-form__content__item {
  display: flex;
  width: 50%;
  align-items: center;
  margin-bottom: 16px;
}

.c-form__content__text {
  font-size: 16px;
}

.c-form-field {
  padding-bottom: 24px;
  margin: 0px;
  position: relative;
}

.c-form-field--link {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Ubuntu';
  text-decoration: underline;
  outline: none;
  cursor: pointer;
  line-height: 60px;
}

.c-form-field--link,
.c-form-field--link:visited {
  color: var(--global-color-alpha-red) !important;
}

.c-form-field--link:focus,
.c-form-field--link:active,
.c-form-field--link:hover {
  color: #ff7777 !important;
}

.c-dark-transparent-div {
  background-color: rgba(72, 72, 72, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.c-icon--close {
  cursor: pointer;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 16px;
  right: 16px;
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  border-radius: var(--global-borderRadius);
  color: var(--global-color-neutral-xxxx-dark);
  background-color: var(--global-color-white);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;
  transition: border var(--global-transition-timing-alpha);
  margin-left: 8px;
}

.c-input:hover {
  border-color: var(--color-neutral-xx-light);
}

.c-input:focus,
.c-input:active {
  border-color: #36b1b8;
  box-shadow: 0 0 0 3px #43dde6;
}

.c-input__new {
  margin-left: 0;
}

.c-input__question {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--global-color-neutral-xxxx-dark);
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;
  transition: border var(--global-transition-timing-alpha);
  margin-left: 8px;

  width: 100%;
  border: none;
}

.c-form__header__new {
  margin-bottom: 24px;
  margin-left: 0;
}

.c-popup {
  background-color: var(--global-color-white);
  border-radius: 3px;
}

.c-popup__title {
  font-family: 'Signika';
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.c-popup__description {
  font-family: 'Ubuntu';
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.c-popup__title,
.c-popup__description {
  text-align: center;
  max-width: 40vh;
}

.c-wachtwoord {
  color: #ff3333;
  font-family: 'Ubuntu';
  font-weight: 500;
  padding-bottom: 32px;
}

/*
    Component: Password Toggle
    ---
    Password toggle custom checkbox
*/
.c-password-toggle__button {
  display: none;
}

.c-password-toggle__icon {
  cursor: pointer;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0px;
  right: 0px;
  margin: 12px 12px 0px 0px;
  fill: var(--global-color-grey-16);
}

.c-password-toggle__icon-hide {
  opacity: 0;
}

.c-password-toggle__button:checked + .c-password-toggle__label .c-password-toggle__icon {
  opacity: 1;
}

/*
    Component: Label
    ---
    label stuff
*/
.c-label {
  font-family: 'Ubuntu';
  font-size: 20px;
  color: var(--global-color-grey-16);
}

.c-label--floating {
  position: absolute;
  top: 6px;
  left: 16px;
  padding: 4px 8px;
  will-change: transform;
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
  background: white;
}

.c-form-field:focus-within .c-label--floating,
.js-keep-floating {
  transform: translateY(-32px);
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/
.c-button {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 16px 36px;
  font-size: 24px;
  font-family: 'Ubuntu';
  line-height: 20px;
  font-weight: 500;
  border: 1px solid var(--global-color-cyan-12);
  color: var(--global-color-white);
  margin: 16px 8px 0px;
}

.c-button__confirm {
  background-color: var(--global-color-alpha-blue-light);
  border: 1px solid var(--global-color-cyan-12);
}

.c-button__confirm:hover {
  background-color: var(--global-color-cyan-8);
  border-color: var(--global-color-cyan-10);
}

.c-button__cancel {
  background-color: var(--global-color-alpha-pink);
  border: 1px solid var(--global-color-pink-12);
}

.c-button__cancel:hover {
  background-color: var(--global-color-pink-8);
  border: 1px solid var(--global-color-alpha-pink);
}

.c-nav {
  display: flex;
  justify-content: space-between;
}

.o-checkbox__reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  margin-left: 8px;
}

/* Input */
.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
  opacity: 0.04;
}

.pure-material-checkbox > input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-hidden {
  display: none;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}

.pure-material-radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Circle */
.pure-material-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
    opacity: 0.04;
}

.pure-material-radio > input:focus {
    opacity: 0.12;
}

.pure-material-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* Disabled */
.pure-material-radio > input:disabled {
    opacity: 0;
}

.pure-material-radio > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-radio > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-radio > input:disabled + span::after {
    background-color: currentColor;
}